<section>
    <div class="container container-small mt-4 g-4">
        <div class="d-flex text-left justify-content-space-between">
            <div class="col-md-8">
                <h2>About me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem assumenda sint repellendus omnis
                    adipisci velit quos, libero delectus iure inventore.
                    Consequuntur iure sequi, vel voluptatibus doloribus iste? Assumenda aperiam mollitia, commodi
                    officiis, eveniet molestiae maxime sunt est voluptate velit ea?</p>
                <img src="http://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves" width="150" />
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem assumenda sint repellendus
                    omnis adipisci velit quos, libero delectus iure inventore.
                    Consequuntur iure sequi, vel voluptatibus doloribus iste? Assumenda aperiam mollitia, commodi
                    officiis, eveniet molestiae maxime sunt est voluptate velit ea?</p>
            </div>
        </div>
    </div>
</section>