<section class="bg-dark text-light p-5 text-center">
    <div class="container">
        <div class="d-md-flex justify-content-center">
            <div>
                <img class="img-fluid w-50" src="./img/monkey.png"/>
                <h1 class="mt-2">No monkey business</h1>
                <p class="lead mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quos?</p>
                <a href="http://localhost:3000/projects" class="btn btn-light btn-outline">Show Projects</a>
            </div>
        </div>
    </div>

</section>